{% extends 'biometria/base.html' %}
{% block conteudo %}
<div style="text-align: center;">
    <h1>Cadastro com Tecnologia de Biometria Facial</h1>

    <p>Bem-vindo ao nosso sistema de cadastro inovador que utiliza tecnologia de ponta de biometria facial para oferecer uma experiência segura e eficiente.</p>
  
    <h2>Tecnologia de Reconhecimento Facial GEMINI</h2>
  
    <p>Nosso sistema integra a API do GEMINI, líder em reconhecimento facial, para verificar sua identidade com precisão e rapidez.</p>
  
    <h2>Como Funciona:</h2>
  
    <ul>
      <li><strong>Cadastro Simples:</strong> Carregue uma imagegm no cadastro. Nossa tecnologia GEMINI analisará seus traços faciais únicos.</li>
      <li><strong>Segurança Incomparável:</strong> A biometria facial garante que somente você possa acessar sua conta, protegendo suas informações contra fraudes.</li>
      <li><strong>Eficiência sem Senhas:</strong> Esqueça senhas complexas! Seu rosto é sua nova chave para um acesso rápido e fácil.</li>
    </ul>
  
    <h2>Benefícios:</h2>
  
    <ul>
      <li><strong>Segurança Reforçada:</strong> A biometria facial oferece um nível superior de proteção contra acessos não autorizados.</li>
      <li><strong>Experiência Simplificada:</strong> Elimine a necessidade de lembrar senhas, agilizando o processo de login.</li>
      <li><strong>Tecnologia Confiável:</strong> A API GEMINI oferece precisão e confiabilidade líderes de mercado em reconhecimento facial.</li>
    </ul>
  
    <p>Junte-se a nós nesta nova era de segurança e conveniência com a tecnologia de biometria facial!</p>
</div>


{% endblock %}
    